.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("https://d12dkjq56sjcos.cloudfront.net/pub/media/wysiwyg/chicago/01-city-landing/View-Of-Chicago-Oak-St-Beach-Lake-Michigan.jpg") center center no-repeat;
  background-size: cover;
  
}

h1{
  font-family: 'Kite One', sans-serif;
  font-size: 15vh;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


.animated-search-form[type=search] {
width: 10rem;
border: 0.125rem solid #e6e6e6;
box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
border-radius: 10px;
background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
background-position: 0.625rem 0.625rem;
background-repeat: no-repeat;
padding: 0.75rem 1.25rem 0.75rem 2rem;
transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
width: 100%;
}
.divclass{
  background-color: green
}
.divclass2{
  background-color: red
}


/* Main Container Section */

#main-content-section{
  margin-right: 25px;
  margin-left:25px;
  margin-bottom: 0;
}

.card{
  bottom: 0;
  left: 0;
}

.card{
bottom: 0;
left: 0;
}



.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}


.card-tabs .card-divider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
}

.card-tabs .card-divider h1, .card-tabs .card-divider h2, .card-tabs .card-divider h3, .card-tabs .card-divider h4, .card-tabs .card-divider h5, .card-tabs .card-divider h6 {
  margin-bottom: 0;
}

.card-tabs .card-divider .fa {
  position: relative;
  margin-right: 0;
}

.card-tabs .tabs {
  padding-top: 4px;
}

.card-tabs .tabs,
.card-tabs .tabs a {
  background: none;
}

.card-tabs .tabs a {
  padding: 0;
  margin: 0 10px;
  font-size: 13px;
  color: #8a8a8a;
}

.card-tabs .tabs a:hover,
.card-tabs .tabs .is-active a {
  color: #0a0a0a;
}

.card-tabs .tabs-panel {
  padding: 0;
}



.caption h3 {
  position: absolute;
  bottom: 25px;
  padding: 10px;
  text-align: center;
  color:#fff;
  background: #2c3e50;
  opacity:.8;
  font-family: 'Kite One', sans-serif;
  
}

.icon {
  position: absolute;
  right: 5px;
  bottom:0px;
  padding: 20px;
  text-align: center;
  color:#fff;

}
.flip {
  background-color: transparent;
  width: 400px;
  height: 400px;
  /* margin-left: auto;
  display: flex;
  border: 1px solid #f1f1f1; */
  perspective: 1000px;
}


.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.front, .back  {
position: absolute;
width: 100%;
height: 100%;
/* display: flex; */
backface-visibility: hidden;
}
/* .flip .card .face {
width: 100%;
height: 100%;
position: absolute;
display: flex;
backface-visibility: hidden;
} */

 .front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}
.back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.card.flipped {
  transform: rotateY(180deg);
}


.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin-top: 2em;
  margin-bottom: 2em;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card .flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}


/* Food Content Section */

.food{
  margin: 0;
  margin-top: 1%; 
  padding-bottom: 20%;
  max-width: 100% !important; 
  background-size: cover; 
  background-image: url('https://parade.com/wp-content/uploads/2018/03/avocado-toast-eggs-bacon-ftr.jpg');

}



/* #hero-2{
  background-image: url("https://parade.com/wp-content/uploads/2018/03/avocado-toast-eggs-bacon-ftr.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top:0;
  bottom: 0;
  z-index: -10;
} */

 /* #hero-2-overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top:0;
  bottom:0;
  width:100%;
  height:100%;
  z-index: -5;
}  */

/* Headers */
#location{
  font-family: 'Kite One', sans-serif;
  color: rgb(226, 26, 136);
  text-align: left;
  font-size: 4rem;
  margin-left: 2rem;

}
#location-cont-1{
font-family: 'Kite One', sans-serif;
color:  rgb(61, 61, 61);
font-size: 2rem;
margin-left: 2rem;
}

#food{
    font-family: 'Kite One', sans-serif;
    color: white;
    text-align: left;
    font-size: 4rem;
    margin-left: 2rem;

  }
#food-cont-1{
  font-family: 'Kite One', sans-serif;
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
}



/* footer */

.header-font {
  font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fd1506;
}
.fa-facebook{
    color:#3b5998;
}
.fa-linkedin{
    color:#0077B5;
}
.fa-twitter{
    color:#4099FF;
}
.fa-google{
    color:#d34836;
}
.bg-primary {
 background-color: #000 !important;
}

.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
#team-header{
  margin-left:1rem;
}











  
  

  
  



